@model AllLayout
@{
    ViewData["Title"] = "Home Page Admin Page";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}
<link href="/css/admintable.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!--
    Tìm cách sửa table bị tràn màn hình overwheeling:
    - Tham khảo các dạng bảng khác. vd: https://bootdey.com/snippets/tagged/cart shopping cart table
-->
<div style="overflow-x: hidden;">
    <div class="card-body">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-5">
                    <h2>Home Page <b>Table</b></h2>
                </div>
                <div class="col-sm-7">
                    <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE147;</i> <span>Add New</span></a>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="max-height: 550px;">
            <div class="table-wrapper" style="width: 2000px;"> 
                <div>
                    <table class="table table-striped table-hover" style="">
                        <!---Tạo bảng-->
                        <thead>
                            <!--Danh sách bảng-->
                            <tr>
                                <th style="">
                                    Home Page ID
                                </th >
                                <th style="">
                                    Home Page Title
                                </th>
                                <th>
                                    Home Page Condition
                                </th>
                                <th>
                                    Home Page Parent Id
                                </th>
                                <th>
                                    Home Page Level
                                </th>
                                <th>
                                    Picture Group Id
                                </th>
                                <th>
                                    HTML ID
                                </th>
                                <th>
                                    Home Page Image
                                </th>
                                <th>
                                    Home Page Summary
                                </th>
                                <th>
                                    Home Page Order
                                </th>
                                <th>
                                    Home Page Video
                                </th>
                                <th>
                                    Home Page Product Display Id
                                </th>
                                <th style="z-index: 2; position: sticky;" >
                                    Edit
                                </th>
                                <th style="z-index: 2; position: sticky;">
                                    Delete
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null)
                            {
                                // có thể dùng chung viewmodel, nhưng view sẽ hiện khác nhau tùy service trong controller.
                                @foreach (var item in Model.homepage_ViewModels.homepage)
                                {
                                    if (item != null)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.HomePage_Id)</td>
                                            <td>@Html.DisplayFor(modelItem => item.HomePage_Title)</td>
                                            <td>@Html.DisplayFor(modelItem => item.HomePage_Condition)</td>
                                            <td>@Html.DisplayFor(modelItem => item.HomePageParent_Id)</td>
                                            <td>@Html.DisplayFor(modelItem => item.HomePage_Levels)</td>
                                            <td>@Html.DisplayFor(modelItem => item.PictureGrp_Id)</td>
                                            <td>@Html.DisplayFor(modelItem => item.HTML_Id)</td>
                                            <td>
                                                <img style="width:120px; height:120px" data-img="@item.HomePage_Img" src="@item.HomePage_Img" data-lazyload="@item.HomePage_Img" alt="">
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.HomePage_Summary)</td>
                                            <td>@Html.DisplayFor(modelItem => item.HomePage_Order)</td>
                                            <td>@Html.DisplayFor(modelItem => item.HomePage_Video)</td>
                                            <td>@Html.DisplayFor(modelItem => item.HomePage_ProductDisplayId)</td>
                                            <td>@Html.ActionLink("Edit", "homepageadminedit", new { HomePage_Id = item.HomePage_Id })</td>
                                            <!--Chỉ cần gửi id thôi-->
                                            <td>@Html.ActionLink("Delete", "#", item)</td>
                                            <!--Tao controller hay service cho edit va delete-->
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="clearfix">
                    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                    <ul class="pagination">
                        <li class="page-item disabled"><a href="#">Previous</a></li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item active"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item"><a href="#" class="page-link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

