@model AllLayout
@{
    ViewData["Title"] = "Customer Admin Page";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}
<link href="/css/admintable.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div style="Overflow-x:hidden">
    <div class="card-body">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-5">
                    <h2>Customer Checkout <b>Table</b></h2>
                </div>
                <div class="col-sm-7">
                    <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE147;</i> <span>Add New</span></a>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="max-height: 525px; max-width: 1800px;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"> <!---Tạo bảng-->
                <thead> <!--Danh sách bảng-->
                    <tr>
                        <th>
                            ID
                        </th>
                        </th>
                        <th>
                            Customer Checkout Phone 
                        </th>
                        <th>
                            Customer Checkout Email
                        </th>
                        <th>
                            Customer Checkout Address
                        </th>
                        <th>
                            Customer Checkout Post Code
                        </th>
                        <th>
                            Customer Checkout Zip
                        </th>
                        <th>
                            Customer Checkout Total Price
                        </th>
                        <th>
                            Customer Checkout Message / Feedback
                        </th>
                        <th>
                            Promotion ID
                        </th>
                        <th>
                            Customer Checkout Full Name
                        </th>
                    </tr>
                </thead>

                <tbody> 
                    @if (Model != null) 
                    {
                        // có thể dùng chung viewmodel, nhưng view sẽ hiện khác nhau tùy service trong controller.
                        @foreach (var item in Model.customercheckout_ViewModels.customercheckout){
                            if(item != null){
                                <tr>
                                <td>@Html.DisplayFor(modelItem => item.CustomerCheckout_Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.CustomerCheckout_Phone)</td> 
                                <td>@Html.DisplayFor(modelItem => item.CustomerCheckout_Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.CustomerCheckout_Address)</td>
                                <td>@Html.DisplayFor(modelItem => item.CustomerCheckout_PostCode)</td> 
                                <td>@Html.DisplayFor(modelItem => item.CustomerCheckout_Zip)</td> 
                                <td>@Html.DisplayFor(modelItem => item.CustomerCheckout_TotalPrice)</td> 
                                <td>@Html.DisplayFor(modelItem => item.CustomerCheckout_Mess)</td> 
                                <td>@Html.DisplayFor(modelItem => item.Promotion_Id)</td> 
                                <td>@Html.DisplayFor(modelItem => item.CustomerCheckout_FullName)</td> 
                                <!--Tao controller hay service cho edit va delete-->
                            </tr>
                            }
                            
                        }
                    }
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
