@model AllLayout
@{
    ViewData["Title"] = "Customer Admin Page";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}
<link href="/css/admintable2.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div style="Overflow-x:hidden">
    <div class="card-body">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-5">
                    <h2>Finish Checkout <b>Table</b></h2>
                </div>
                <div class="col-sm-7">
                    <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE147;</i> <span>Add New</span></a>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="max-height: 525px; max-width: 1800px;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <!---Tạo bảng-->
                <thead>
                    <!--Danh sách bảng-->
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Customer Checkout Full Name
                        </th>
                        <th>
                            Customer Checkout Phone
                        </th>
                        <th>
                            Customer Checkout Address
                        </th>
                        <th>
                            Customer Checkout Total Price
                        </th>
                        <th>
                            Customer Checkout Message / Feedback
                        </th>
                        <th>
                            Customer Checkout Payment ID
                        </th>
                        <th>
                            Order Status
                        </th>
                        <th>
                            Action
                        </th>
                        <th>
                            Details
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null)
                    {
                        // có thể dùng chung viewmodel, nhưng view sẽ hiện khác nhau tùy service trong controller.
                        @foreach (var item in Model.customercheckout_ViewModels.customercheckout)
                        {
                            if (item != null)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.CustomerCheckout_Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CustomerCheckout_FullName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CustomerCheckout_Phone)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CustomerCheckout_Address)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CustomerCheckout_TotalPrice)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CustomerCheckout_Mess)</td>
                                    <td>
                                        @foreach (var item2 in Model.paymnet_ViewModels.payment)
                                        {
                                            if (item.Payment_Id == item2.Payment_Id) // item là cái xác định cho item2
                                            {
                                                @Html.DisplayFor(modelItem => item2.Payment_Name)
                                            }
                                        }
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.CustomerCheckout_Status)</td>
                                    <td>@Html.ActionLink("Back", "processreversedfunction", new { id = item.CustomerCheckout_Id, status = (int)item.CustomerCheckout_Status })</td>
                                    <td>@Html.ActionLink("Xem chi tiết", "#", new { id = item.CustomerCheckout_Id })</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


