@model AllLayout
@{
    ViewData["Title"] = "Header Admin Page";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}
<div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"> <!---Tạo bảng-->
                <thead> <!--Danh sách bảng-->
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Footer title
                        </th>
                        <th>
                            Footer condition
                        </th>
                        <th>
                            Footer Parent ID
                        </th>
                        <th>
                            Footer Level
                        </th>
                        <th>
                            Footer Type ID
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                </thead>

                <tbody> 
                    @if (Model != null) 
                    {
                        // có thể dùng chung viewmodel, nhưng view sẽ hiện khác nhau tùy service trong controller.
                        @foreach (var item in Model.footer_ViewModels.footer){ 
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Footer_Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Footer_Title)</td>
                                <td>@Html.DisplayFor(modelItem => item.FooterCondition)</td>
                                <td>@Html.DisplayFor(modelItem => item.FooterParent_Id)</td> 
                                <td>@Html.DisplayFor(modelItem => item.FooterLevels)</td>
                                <td>@Html.DisplayFor(modelItem => item.FooterType_Id)</td>
                                <!--Tao controller hay service cho edit va delete-->
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="clearfix">
				<div class="hint-text">Showing <b>5</b> out of <b>10</b> entries</div>
				<ul class="pagination">
					<li class="page-item disabled"><a href="#">Previous</a></li>
					<li class="page-item"><a href="#" class="page-link">1</a></li>
					<li class="page-item"><a href="#" class="page-link">2</a></li>
					<li class="page-item active"><a href="#" class="page-link">3</a></li>
					<li class="page-item"><a href="#" class="page-link">4</a></li>
					<li class="page-item"><a href="#" class="page-link">5</a></li>
					<li class="page-item"><a href="#" class="page-link">Next</a></li>
				</ul>
	        </div>
        </div>
    </div>
</div>

