@model AllLayout
@{
    ViewData["Title"] = "News    Admin Page";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}
<link href="/css/admintable.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div style="Overflow-x:hidden">
    <div class="card-body">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-5">
                    <h2>News <b>Table</b></h2>
                </div>
            </div>
        </div>
        <div class="table-responsive" style="max-height: 525px; max-width: 2000px;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <!---Tạo bảng-->
                <thead>
                    <!--Danh sách bảng-->
                    <tr>
                        <th>
                            News ID
                        </th>
                        <th>
                            List News ID
                        </th>
                        <th>
                            Picture ID
                        </th>
                        <th>
                            News Title
                        </th>
                        <th>
                            News SubTitle
                        </th>
                        <th>
                            Author
                        </th>
                        <th>
                            News Content
                        </th>
                        <th>
                            News DataPost
                        </th>
                        <th>
                            Edit
                        </th>
                        <th>
                            Delete
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model != null)
                    {
                        // có thể dùng chung viewmodel, nhưng view sẽ hiện khác nhau tùy service trong controller.
                        @foreach (var item in Model.news_ViewModels.news)
                        {
                            if (item != null)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.News_Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ListNews_Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Picture_Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.News_Title)</td>
                                    <td>@Html.DisplayFor(modelItem => item.News_SubTitle)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Author)</td>
                                    <td>@Html.Raw(item.News_Content)</td>
                                    <td>@Html.DisplayFor(modelItem => item.News_DatePost)</td>
                                    <td>@Html.ActionLink("Edit", "newsadminedit", new { News_Id = item.News_Id })</td>
                                    <td>@Html.ActionLink("Delete", "#", item)</td>
                                    <!--Tao controller hay service cho edit va delete-->
                                </tr>
                            }

                        }
                    }
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

