@model AllLayout

@{
    ViewData["Title"] = "Product Page";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<!--Cần bổ sung chức năng:
    1. Thêm size và giá tiền khác
    2. Sủa sub product lấy các dữ liệu khác trừ dữ liệu hiện trên hình
-->
<!--Tùy theo query Service, foreach sẽ cho hiển thị nhiều dữ liễu hay chỉ mỗi một dữ liệu -->
<head>
    <script type="text/javascript" defer src="~/bizweb.dktcdn.net/themesJS/elevatezoom.js"></script>
    <!--Mang elevatezoom lên đầu-->
    <script src="//bizweb.dktcdn.net/100/364/767/themes/737174/assets/jquery.elevatezoom308.min.js?1676649124511" type="text/javascript"></script>
</head>
<body>
    @if (Model != null)
    {
        @foreach (var item1 in Model.product_ViewModels.product) // để đây được, không bị lăp. Vì mỗi đường dẩn vào chỉ cho 1 sản phẩm
        {
            <div class="page-body">
                <div class="hidden-md hidden-lg opacity_menu"></div>
                <div class="opacity_filter"></div>
                <div class="body_opactiy"></div>
                <div class="breadcrumbs">
                    <div class="container">
                        <div class="inner">
                            <ul class="breadcrumb">
                                <li class="home">
                                    <a asp-controller="Home" asp-action="Index"><span>Trang chủ</span></a>
                                    <span><img src="//bizweb.dktcdn.net/100/364/767/themes/737174/assets/right-arrow.png?1676649124511" alt="Mew Nature"></span>
                                </li>
                                <li>
                                    @foreach(var item7 in Model.producttype_ViewModels.producttype) // vào view model trưoc để chỉ lấy những biến có dữ liệu cần hiện view ra.
                                    {
                                        @if(item1.ProductType_Id == item7.ProductType_Id) // kiểm tra phải cùng type id. Để k bị lặp (để chỉ lấy 1)
                                        {
                                            <a href="/#Category_Link"><span>@item7.ProductType_Name</span></a>
                                        }
                                        
                                    }
                                    <span><img src="//bizweb.dktcdn.net/100/364/767/themes/737174/assets/right-arrow.png?1676649124511" alt="Mew Nature"></span>
                                </li>

                                <li><strong><span>@item1.Product_Name</span></strong>
                                    <li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div itemscope itemtype="http://schema.org/Product">
                    <meta itemprop="category" content="#Category_Name">
                    <meta itemprop="url" content="//mew-nature.mysapo.net/duoi-lim-la-bau">
                    <meta itemprop="name" content="#Product_Name">
                    <meta itemprop="image" content="http://bizweb.dktcdn.net/thumb/grande/100/364/767/products/70589264-400878850631068-192375588097359872-n.jpg?v=1571390161147">
                    <meta itemprop="description" content="#Product_Info">
                    <div class="d-none" itemprop="brand" itemtype="https://schema.org/Brand" itemscope>
                        <meta itemprop="name" content="Harsfarm" />
                    </div>
                    <meta itemprop="model" content="">
                    <div class="d-none hidden" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <div class="inventory_quantity hidden" itemscope itemtype="http://schema.org/ItemAvailability">
                            <span class="a-stock" itemprop="supersededBy">
                                #Product_Condition
                            </span>
                        </div>
                        <link itemprop="availability" href="http://schema.org/InStock">
                        <meta itemprop="priceCurrency" content="VND">
                        <meta itemprop="price" content="#Product_PromoPrice.000">
                        <meta itemprop="url" content="https://mew-nature.mysapo.net/duoi-lim-la-bau">
                        <span itemprop="UnitPriceSpecification" itemscope itemtype="https://schema.org/Downpayment">
                            <meta itemprop="priceType" content="#Product_PromoPrice.000">
                        </span>
                        <span itemprop="UnitPriceSpecification" itemscope itemtype="https://schema.org/Downpayment">
                            <meta itemprop="priceSpecification" content="#Product_Price.000">
                        </span>
                        <meta itemprop="priceValidUntil" content="2099-01-01">
                    </div>
                    <div class="d-none hidden" id="https://mew-nature.mysapo.net" itemprop="seller" itemtype="http://schema.org/Organization" itemscope>
                        <meta itemprop="name" content="Mew Nature" />
                        <meta itemprop="url" content="https://mew-nature.mysapo.net" />
                        <meta itemprop="logo" content="http://bizweb.dktcdn.net/100/364/767/themes/737174/assets/logo.png?1676649124511" />
                    </div>
                    <section class="main-container col1-layout">
                        <div class="main container">
                            <div class="col-main details-product">

                                <div class="row">
                                    <div class="product-view form-product">
                                        <div class="product-essential">
                                            <div class="product-img-box col-sm-6 col-xs-12 col-md-5 col-lg-5">
                                                <div class="product-detail-left product-images">
                                                    <div class="col_large_full large-image">
                                                        @foreach (var item3 in Model.picture_ViewModels.picture) // vòng for này chỉ 1 ảnh duy nhất ở đây
                                                        {
                                                            @if (item1.Picture_Id == item3.Picture_Id) // luôn kiểm tra để chỉ lấy 1 id
                                                            {
                                                                <a href="@item3.Picture_FileName" class="large_image_url checkurl" data-rel="prettyPhoto[product-gallery]">
                                                                    <img id="img_01" class="img-responsive" alt="#Product_Name" src="@item3.Picture_FileName" data-zoom-image="@item3.Picture_FileName" />
                                                                </a>
                                                            }
                                                        }
                                                        <div class="offset_nop hidden">

                                                            <div class="item">
                                                                <!--#Picture_FileName-->
                                                                <a class="check_data_img" href="https://bizweb.dktcdn.net/100/364/767/products/70589264-400878850631068-192375588097359872-n.jpg?v=1571390161147" data-image="https://bizweb.dktcdn.net/100/364/767/products/70589264-400878850631068-192375588097359872-n.jpg?v=1571390161147" data-rel="prettyPhoto[product-gallery]">
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!-- 
                                                        Có 2 cách: Ảnh nhỏ ảnh phụ 
                                                        1. xét ảnh con với anh cha - đang dùng (từng ảnh con cùng id cha), item3 là list cha (cần ảnh lv cha riêng tùy)
                                                        2. xét ảnh theo cùng 1 grp (cha con cùng grp, 1 cụm ảnh cùng grp id)
                                                    -->
                                                    <div class="thumb_gallary">
                                                        <div id="gallery_02" class="owl_width no-padding thumbnail-product thumb_product_details">
                                                            @foreach (var item3 in Model.picture_ViewModels.picture) 
                                                            {
                                                                @if (item1.Picture_Id == item3.Picture_Id)
                                                                {
                                                                    <!--Luôn có ảnh cha trước-->
                                                                    <div class="item">
                                                                        <a href="#" data-image="@item3.Picture_FileName" data-zoom-image="@item3.Picture_FileName">
                                                                            <img data-img="@item3.Picture_FileName" src="@item3.Picture_FileName" data-lazyload="@item3.Picture_FileName" alt="@item3.Picture_Desciption">
                                                                        </a>
                                                                    </div>

                                                                    var check = Model.picture_ViewModels.subpicture.Where(p => p.Picture_ParentId == item3.Picture_Id).FirstOrDefault(); // kiểm tra có ảnh con không
                                                                    <!--Biến check để ktra có list con k. Và câu điều kiện where... để xác định. FOD sắp xếp các đối tượng thành 1 ds-->
                                                                    @if (check == null) // nếu k có con
                                                                    {
                                                                        <div class="item">
                                                                            <a href="#" data-image="https://bizweb.dktcdn.net/100/364/767/products/product-13.jpg?v=1570121932967" data-zoom-image="//bizweb.dktcdn.net/100/364/767/products/product-13.jpg?v=1570121932967">
                                                                                <img data-img="//bizweb.dktcdn.net/100/364/767/products/product-13.jpg?v=1570121932967" src="//bizweb.dktcdn.net/100/364/767/themes/737174/assets/rolling.svg?1676649124511" data-lazyload="//bizweb.dktcdn.net/100/364/767/products/product-13.jpg?v=1570121932967" alt="Sen đá lá ngọc">
                                                                            </a>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        @foreach (var item6 in Model.picture_ViewModels.subpicture)
                                                                        {
                                                                            @if (item3.Picture_Id == item6.Picture_ParentId) // xác định id ảnh cha là item3. (Phải có item3 là ảnh cha cover item6 là ảnh con)
                                                                            {
                                                                                <div class="item">
                                                                                    <a href="#" data-image="@item6.Picture_FileName" data-zoom-image="@item6.Picture_FileName">
                                                                                        <img data-img="@item6.Picture_FileName" src="@item6.Picture_FileName" data-lazyload="@item6.Picture_FileName" alt="@item6.Picture_Desciption">
                                                                                    </a>
                                                                                </div>
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            @* <div class="item">

                                                                <a href="#" data-image="https://bizweb.dktcdn.net/100/364/767/products/product-13.jpg?v=1570121932967" data-zoom-image="//bizweb.dktcdn.net/100/364/767/products/product-13.jpg?v=1570121932967">
                                                                    <img data-img="//bizweb.dktcdn.net/100/364/767/products/product-13.jpg?v=1570121932967" src="//bizweb.dktcdn.net/100/364/767/themes/737174/assets/rolling.svg?1676649124511" data-lazyload="//bizweb.dktcdn.net/100/364/767/products/product-13.jpg?v=1570121932967" alt="Sen đá lá ngọc">
                                                                </a>
                                                            </div> *@

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="box_p hidden-xs">
                                                    <div class="aside aside-mini-products-list">

                                                        <div class="aside-title">
                                                            <!--#Đường dẫn ra trang product lại search theo category-->
                                                            <a href="chau-canh" title="Sản phẩm cùng loại"><h3>Sản phẩm cùng loại</h3></a>
                                                        </div>


                                                        <!--#Tạo service nhỏ là các sản phẩm cùng loại: -->
                                                        @foreach (var item5 in Model.subproduct_ViewModels.subproduct)
                                                        {
                                                            if (item5.ProductType_Id == item1.ProductType_Id && item5.Product_Name != item1.Product_Name) // nếu có cùng loại id và khác tên sp chính. Nếu sp loại khác và cùng tên sẽ bị loại ra.
                                                            {
                                                                //var product_name = @item1.Product_Name;
                                                                <div class="aside-content mini-products-list2">
                                                                    <div class="product-item clearfix on-sale">
                                                                        <a href="/thong-kim-mini" class="product-img" title="Thông kim mini">
                                                                            @foreach (var item3 in Model.picture_ViewModels.picture)
                                                                            {
                                                                                if (item5.Picture_Id == item3.Picture_Id)
                                                                                {
                                                                                    <img src="@item3.Picture_FileName" data-lazyload="@item3.Picture_FileName" alt="">
                                                                                }
                                                                            }
                                                                        </a>
                                                                        <div class="info-inner">
                                                                            <h3 class="item-title"> <a href="~/productdetail/@item5.Product_Href" title="">@item5.Product_Name</a></h3>
                                                                            <div class="item-content">
                                                                                <div class="item-price">
                                                                                    <div class="price-box">
                                                                                        @if (item5.Product_PromoPrice != 0)
                                                                                        {
                                                                                            <p class="special-price">
                                                                                                <span class="price">@item5.Product_PromoPrice.000đ</span>
                                                                                            </p>
                                                                                            <p class="old-price">
                                                                                                <span class="price">@item5.Product_Price.000đ</span>
                                                                                            </p>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <p class="special-price">
                                                                                                <span class="price">@item5.Product_Price.000đ</span>
                                                                                            </p>
                                                                                        }

                                                                                    </div>

                                                                                </div>
                                                                                <!-- Holder for Product Review -->
                                                                            </div>

                                                                            <div class="actions">
                                                                                <form action="#" method="post" class=" variants" id="product-actions-16065458" enctype="multipart/form-data">
                                                                                    <input type="hidden" name="variantId" value="28347250" />
                                                                                    <button class="button btn-cart add_to_cart" title="Xem hàng"><span>Xem hàng</span></button>
                                                                                </form>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                        <a href="/chau-canh" class="btn-view-more" title="Xem thêm">
                                                            Xem thêm <img src="//bizweb.dktcdn.net/thumb/icon/100/364/767/themes/737174/assets/right-arrow.png?1676649124511" alt="Mew Nature">
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="product-shop col-sm-6 col-xs-12 col-md-7 col-lg-7 details-pro">
                                                <div class="product-name">
                                                    <h1 id="itemname">@item1.Product_Name</h1>
                                                </div>

                                                <div class="price-block">

                                                    <div class="price-box">
                                                        @if (item1.Product_PromoPrice != 0)
                                                        {
                                                            <p id="itemprice" class="special-price" value="@item1.Product_PromoPrice"><span class="price">Giá bán: @item1.Product_PromoPrice.000₫</span></p>
                                                            <p class="old-price"><span class="price">@item1.Product_Price.000₫</span> </p>
                                                        }
                                                        else
                                                        {
                                                            <p id="itemprice" class="special-price" value="@item1.Product_Price"><span class="price">Giá bán: @item1.Product_Price.000₫</span></p>
                                                        }

                                                    </div>
                                                </div>
                                                <div class="add-to-box form-product ">
                                                    <div class="add-to-cart">
                                                        <form action="/cart/add" method="post" enctype="multipart/form-data" id="add-to-cart-form" class="form-inline">

                                                            <script>$(window).load(function() { $('.selector-wrapper:eq(0)').hide(); });</script>
                                                            <div class=" swatch clearfix" data-option-index="0">
                                                                <div class="header">Kích thước</div>
                                                                <div data-value="20 x 20cm" class="swatch-element 20 x 20cm">

                                                                    <input id="swatch-0-20 x 20cm" type="radio" name="option-0" value="20 x 20cm" checked />

                                                                    <label for="swatch-0-20 x 20cm">
                                                                        @item1.Product_Size cm
                                                                    </label>

                                                                </div>

                                                                <div data-value="35 x 35cm" class="swatch-element 35 x 35cm">


                                                                    <input id="swatch-0-35 x 35cm" type="radio" name="option-0" value="35 x 35cm" />

                                                                    <label for="swatch-0-35 x 35cm">
                                                                        Product_Size 2 cm
                                                                    </label>

                                                                </div>


                                                            </div>

                                                            <div class="box-variant clearfix  hidden ">

                                                                <select id="product-selectors" name="variantId" style="display:none">

                                                                    <option selected="selected" value="28347305">@item1.Product_Size - @item1.Product_PromoPrice.000₫</option>

                                                                    <option value="28406568">35 x 35cm - 280.000₫</option>

                                                                </select>

                                                            </div>
                                                            <div class="box_buy ">
                                                                <label class="hqty hidden-xs fixprice box">Số lượng</label>
                                                                <div class="hqty ct2 pull-left fixprice box">
                                                                    <div class="custom pull-left">
                                                                        <button onclick="Counting(0)" class="reduced items-count-s" type="button">-</button>
                                                                        <input id="num" type="text" class="input-text qty" value="1">
                                                                        <button onclick="Counting(1)" class="increase items-count-s" type="button">+</button>
                                                                    </div>
                                                                </div>

                                                                <div class="pull-left ct2 fixprice">

                                                                    @*<button onclick="PopupCart(is_button); return is_button = true;" id="muahang" value="0" class="button btn-cart product_add_to_cart add_to_cart" title="Mua hàng"><span>Mua hàng</span></button>*@
                                                                    <button onclick="CreateCart(0,0,0)" id="muahang" value="0" class="button btn-cart product_add_to_cart add_to_cart" title="Mua hàng"><span>Mua hàng</span></button>
                                                                </div>
                                                            </div>
                                                            <b>
                                                                <i>
                                                                    <p class="short-description rte justify" id="numnoti" style="color:red; font-size: 12px;">
                                                                    </p>
                                                                </i>
                                                            </b>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="short-description rte justify">
                                                    @item1.Product_ShortDescription
                                                </div>

                                                <div class="box_green">
                                                    <div class="inventory_quantity">
                                                        <span class="stock-brand-title"><strong>Tình trạng:</strong></span>

                                                        <span class="a-stock">@item1.Product_Condition</span>

                                                    </div>

                                                    <div class="product_sku" id="itemid" value="@item1.Product_Id"><span class="fnew">Mã sản phẩm:</span> @item1.Product_Id</div>

                                                    <div class="product_sku" id="vendor"><span class="fnew">Hãng sản xuất:</span> @item1.Product_Manufacturers</div>

                                                    @foreach (var item2 in Model.producttype_ViewModels.producttype)
                                                    {
                                                        if (item1.ProductType_Id == item2.ProductType_Id)
                                                        {
                                                            <div class="product_sku" id="type"><span class="fnew">Loại:</span> @item2.ProductType_Name</div>
                                                        }

                                                    }
                                                    <div class="product_sku" id="productquantity" value="@item1.Product_Quantity"><span class="fnew">Số lượng:</span> @item1.Product_Quantity</div>
                                                    
                                                    
                                                </div>
                                                

                                                <div class="product-collateral">
                                                    <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                                                        <li class="active"> <a href="#product_tabs_description" data-toggle="tab">Thông tin chi tiết</a> </li>
                                                        <li> <a href="#product_tabs_custom" data-toggle="tab">Thông tin khác</a> </li>
                                                    </ul>
                                                    <div id="productTabContent" class="tab-content">
                                                        <div class="tab-pane fade in active" id="product_tabs_description">
                                                            <div class="std justify add_apper">

                                                                <ul>
                                                                    <li>@item1.Product_Info</li>
                                                                </ul>
                                                                <ol>
                                                                    <li>Thay đất định kỳ 6 - 8 tháng</li>
                                                                    <li>Sử dụng giá thể hoặc đát tro xốp</li>
                                                                </ol>

                                                            </div>
                                                        </div>

                                                        <div class="tab-pane fade" id="product_tabs_custom">
                                                            <div class="product-tabs-content-inner clearfix">
                                                                #Product_Info2
                                                                Nội dung đang cập nhật ...

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Sản phẩm cùng loại 2:-->

                                </div>
                        </div>
                    </div>
                </section>
            </div>


            <!--Get sẽ hiện logic lên url
                Post sẽ gữi cục data (giấu logic)
                n là id, t là số lượng sp   
            -->
            <script>
                function CreateCart(n, t, p) {
                    //console.log("====== chay ajax" + n + "," + t);
                    var t = parseInt(document.getElementById("num").value);
                    var n = parseInt(document.getElementById("itemid").getAttribute("value"));
                    var itemprice = parseInt(document.getElementById("itemprice").getAttribute("value"));
                    var p = itemprice * n;
                        var numnoti = document.getElementById("numnoti");
                    if (t != 0) {
                        $.ajax({
                            type: "GET",
                            url: "/CookieCart/CreateCookie?id=" + n + "&qty=" + t + "&price=" + p,
                            cache: !1,
                            "async": !0,
                            success: function (a) { // a là kết quả return từ controller sang
                                console.log(a); // hiện nó lên (ở trong )
                                n.success ? (togles(), ReadCookie(), LoadNumber()) : alert("Đã mua hàng thành công"); // alert biến a đó nếu thành công
                                window.location = "https://localhost:7037/product";
                            },
                            error: function (a) {
                                console.log(a);
                                alert(a);
                            }
                        });
                    }
                    else {
                        numnoti.textContent = "Warning: Lỗi số lượng sản phẩm";
                    } 
                }
            </script>
            <!--JS tăng giảm số lượng sửa tiếp-->
            <script>
                function Counting(calc) {
                    var num = parseInt(document.getElementById("num").value);
                    var productquantity = parseInt(document.getElementById("productquantity").getAttribute('value'));
                    var numnoti = document.getElementById("numnoti");
                    if (calc == 0) {
                        num--;
                        if (num < 0) {
                            numnoti.textContent = "Warning: Không giảm được nữa!";
                            return num = 0; // gán về thành 0
                        }
                        else{
                            numnoti.textContent = "";
                        }
                    }
                    else {
                        num++;
                        if(num >= productquantity)
                        {
                            numnoti.textContent = "Warning: Không thể mua số lượng hơn số lượng sản phẩm!";
                            return num--;
                        }
                        else{
                            numnoti.textContent = "";
                        }
                    }
                    document.getElementById("num").value = num; // lưu giá trị num mới
                }
            </script>

            <!--
                Ghi chú:
                + function cho bảng cart sản phẩm:
                + .getAttribute
                ("value") : để gán value và lấy nd của nó xài trong nhiều tag khác nhau.
                + parseInt() : chuyển thành số Int
                + .appendChild : chèn hàng còn vào
                + .textContent : lấy nd ra
                + .textContent = "..." : viết nd vào
                + document.cookie : add cookie
                + để lưu mới value nên dùng các thẻ (tag) có thể chứa đc value
                + tạo id cho từng thẻ html để thực hiện thao tác riêng nhau (lấy giá trị value, tên, loại thẻ, ... của html đó)
                + Để bắt sự kiện onclick từ lần 2 thì sẽ đổi true -> false: là tắt k thêm nữa. Thì ta phải thêm 1 dòng ở sau onclick để đổi biến. VD: return is_button = true /*;  return is_button = true;*/
                + Thực hiện lưu dữ liệu cũ trên js bằng cookie (đang làm...)
                + Cookie: lưu các biến này vào cookie bằng cách:
                    - chuyển biến thành toString -> add lưu vào cookie cart theo kiểu Object
                    - Nếu muốn xài, lấy ra bằng cách convert lại và để hiện thị
                    - Khi này sẽ lấy object (đã lưu) cũ + object mới -> add vào cookie
                + Tạo biến ul foreach li
                + "getCart('cart')"" lấy cookie cart ra.
                + ".split("")" covert từ string sang string(object)
                + "JSON.parse" covert string to array (object);
                + Gọi từng array trong Json Array: tenArray[0], ...
                + Gọi key để lấy value từ Json Array: tenArray[0].keyname
                + Tạo giá trị hiện ra trong giỏ hàng nếu có sẵn cookie
                + jquery chạy sau js hành động
                + Logic của PopupCart: có dữ liệu -> getCart -> lấy dữ liêu ra cartArr2 -> hiện dữ liệu ra .... ->
                        k dữ liệu -> tạo mới
                        Vào mỗi 1 trang -> hiện cart cũ -> lấy cart cũ xuống -> chèn thêm li vào (push) -> lưu vào cart cũ => Xong
                + Code js chạy từ trên xuống dưới check các bước kĩ
                + Vì jquery document.ready sẽ chạy liền nên các ks trên chương trình chưa kịp chạy khi này cần setTimeout cho nó chờ thêm giây để chạy sau khi xong js hết.
                * Gom các CartObj cùng id và += lại thành 1:
            @*if (CartObj.id == cartArr3[i].id) {
                            price3 += cartArr3[i].price;
                            console.log(price3);
                            document.getElementById("popupcartli").innerHTML = n + ") Id: " + cartArr3[i].id + " ,số lượng: " + cartArr3[i].quantity + " , giá: " + price3 + ".000đ";
                        }*@
                * Tạo + - trên show up Cart
            -->
            @*
            function Create Cart khác:
            - onclick sự kiện add cart
            - lấy dữ liệu đó về convert ra (của nội dung value từ thẻ đó)
            - ktra nếu nhận đc dữ liệu thì success:
            + Ktra tiếp nếu đã có cookie r thì get cookie và add dữ liệu mới vào cookie đó.
            k có thì nhảy vào controller tạo cookie và add dữ liệu vào
            +
            - ktra nếu k có là lỗi fail:
            *@
            @*<script>
            function CreateCart(){

            }
            </script>*@

            <!--Cách làm cũ(k xài): Tạo cart, add sp bằng js-->
            <script>
                var is_button = false;
                var CartArr = [];

                function PopupCart() {
                    var itemname = document.getElementById("itemname").textContent;
                    var num = parseInt(document.getElementById("num").value);
                    var itemprice = parseInt(document.getElementById("itemprice").getAttribute("value"));
                    var itemid = parseInt(document.getElementById("itemid").getAttribute("value"));
                    var price2 = itemprice * num;
                    var ul = document.getElementById("popupcartul");
                    var li = null;
                    var totalprice = parseInt(document.getElementById("totalcart").getAttribute("value"));
                    var totalcart = document.getElementById("totalcart");
                    totalprice += price2;
                    document.getElementById("totalcart").value = totalprice;
                    var price3 = 0;
                    var n = 0;
                    var btncartxoa = null;
                    var btncart = document.getElementById("btncart");

                    if (getCart('cart') !== "") {
                        var flag2 = true;
                        var CartObj = {
                            name: itemname,
                            quantity: num,
                            id: itemid,
                            price: price2
                        };
                        const cartArr3 = JSON.parse(getCart('cart')); // chỗ này lấy ra lại nè
                        for (var i = 0; i < cartArr3.length; i++) { // lấy ra hiện lên thôi
                            if (cartArr3[i] != null) {
                                if (CartObj.id !== cartArr3[i].id) { // if diff find next
                                    console.log("k trùng");
                                    flag2 = false;
                                }
                                if (CartObj.id === cartArr3[i].id) { // if same break
                                    console.log("trùng");
                                    cartArr3[i].price += CartObj.price;
                                    cartArr3[i].quantity += CartObj.quantity;
                                    flag2 = true;
                                    break;
                                }
                            }
                        }
                        if (flag2 == false) {
                            cartArr3.push(CartObj);
                        }
                        console.log(cartArr3);
                        const cartArr = JSON.stringify(cartArr3);
                        setCart(cartArr);
                        location.reload();
                    }
                    if (getCart('cart') === "") {
                        var CartObj = {
                            name: itemname,
                            quantity: num,
                            id: itemid,
                            price: price2
                        };
                        CartArr.push(CartObj);
                        console.log(CartArr);
                        const cartArr = JSON.stringify(CartArr);
                        setCart(cartArr);

                        if (is_button == false) {
                            var btncart2 = document.createElement("a");
                            btncart2.appendChild(document.createTextNode("Chuyển hướng đến giỏ hàng của bạn"));
                            btncart2.setAttribute("href", "/cart");
                            btncart.appendChild(btncart2);
                        }
                        location.reload();
                    }
                    totalcart.textContent = "Thành tiền tổng là: " + totalprice + ".000đ";
                }
            </script>
            <script src="//bizweb.dktcdn.net/assets/themes_support/option-selectors.js" type="text/javascript"></script>
            <div id="aweCallback">
                <script>
                    if (navigator.userAgent.indexOf("Speed Insights") == -1) {
                        var productJson = { "id": 16065484, "name": "Duối lim lá bầu", "alias": "duoi-lim-la-bau", "vendor": "Harsfarm", "type": "Cây để bàn", "content": "<ul>\n<li>Cây có sức sống mạnh mẽ, tượng trưng cho sự bền bỉ, dẻo dai, và là món quà tặng ý nghĩa cho bạn bè, người thân.</li>\n<li>Cần lưu ý theo ý nghĩa về phong thủy, do xương rồng là loài có gai góc nên không nên để trong nhà; nên đặt cây ở lan can, hàng rào trước cửa sẽ mang ý nghĩa bảo vệ, ngăn cản tà khí.</li>\n<li>Lưu ý riêng trong quá trình chăm sóc cây: không nên tưới nước cho cây quá nhiều dễ gây thối rễ và chết cây; cây cần nhiều ánh sáng để sinh trưởng, do đó không nên để trong nhà quá lâu.</li></ul>\n<ol>\n<li>Thay đất định kỳ 6 - 8 tháng</li>\n<li>Sử dụng giá thể hoặc đát tro xốp</li></ol>", "summary": null, "template_layout": null, "available": true, "tags": [], "price": 160000.0000, "price_min": 160000.0000, "price_max": 280000.0000, "price_varies": true, "compare_at_price": 185000.0000, "compare_at_price_min": 185000.0000, "compare_at_price_max": 185000.0000, "compare_at_price_varies": false, "variants": [{ "id": 28347305, "barcode": null, "sku": null, "title": "20 x 20cm", "options": ["20 x 20cm"], "option1": "20 x 20cm", "option2": null, "option3": null, "available": true, "taxable": false, "price": 160000.0000, "compare_at_price": 185000.0000, "inventory_management": "", "inventory_policy": "deny", "inventory_quantity": 1, "weight": 0, "requires_shipping": true, "image": null }, { "id": 28406568, "barcode": null, "sku": null, "title": "35 x 35cm", "options": ["35 x 35cm"], "option1": "35 x 35cm", "option2": null, "option3": null, "available": true, "taxable": false, "price": 280000.0000, "compare_at_price": 185000.0000, "inventory_management": "", "inventory_policy": "deny", "inventory_quantity": 0, "weight": 0, "requires_shipping": true, "image": null }], "featured_image": { "src": "https://bizweb.dktcdn.net/100/364/767/products/70589264-400878850631068-192375588097359872-n.jpg?v=1571390161147" }, "images": [{ "src": "https://bizweb.dktcdn.net/100/364/767/products/70589264-400878850631068-192375588097359872-n.jpg?v=1571390161147" }], "options": ["Kích thước"], "created_on": "2019-10-18T16:16:00", "modified_on": "2022-10-14T13:45:25", "published_on": "2019-10-18T16:16:00" };

                        var variantsize = true;

                        var alias = 'duoi-lim-la-bau';
                        var getLimit = 8;

                        var productOptionsSize = 1;
                        var optionsFirst = 'Kích thước';


                        var cdefault = 0;

                    }
                </script>
            </div>

            <script>
                var ww = $(window).width();
                $(document).ready(function() {

                    $("#gallery_02").owlCarousel({
                        items: 4, //10 items above 1000px browser width
                        itemsDesktop: [1024, 4], //5 items between 1024px and 901px
                        itemsDesktopSmall: [900, 3], // 3 items betweem 900px and 601px
                        itemsTablet: [600, 3], //2 items between 600 and 0;
                        itemsMobile: [320, 3],
                        navigation: false,
                        navigationText: ["<a class=\"flex-prev\"></a>", "<a class=\"flex-next\"></a>"],
                        slideSpeed: 500,
                        pagination: true
                    });
                    /*** xử lý active thumb -- ko variant ***/
                    var thumbLargeimg = $('.details-product .large-image a').attr('href').split('?')[0];
                    var thumMedium = $('#gallery_02 .owl-item .item a').find('img').attr('src');
                    var url = [];

                    $('#gallery_02 .owl-item .item').each(function() {
                        var srcImg = '';
                        $(this).find('a img').each(function() {
                            var current = $(this);
                            if (current.children().size() > 0) { return true; }
                            srcImg += $(this).attr('src');
                        });
                        url.push(srcImg);
                        var srcimage = $(this).find('a img').attr('src').split('?')[0];
                        if (srcimage == thumbLargeimg) {
                            $(this).find('a').addClass('active');
                        } else {
                            $(this).find('a').removeClass('active');
                        }
                        if (ww < 1200) {
                            $(this).find('a').click(function(e) {
                                var thumb__img = $('.details-product .large-image a img').attr('src').split('?')[0];
                                var src__image = $(this).find('img').attr('src').split('?')[0];
                                $('#gallery_02 .owl-item .item a').removeClass('active');
                                if (src__image == thumb__img) {
                                    $(this).addClass('active');
                                }
                            });
                        }
                    });

                    $('#gallery_02 img, .swatch-element label').click(function(e) {
                        e.preventDefault();
                        $('.large-image .checkurl img').attr('src', $(this).attr('data-img'));

                    });
                    var checknop = $('a.large_image_url.checkurl').attr('href');

                    $('.offset_nop a.check_data_img').each(function() {
                        var checknop2 = $(this).attr('href');
                        var chtml = $(this).contents();
                        if (checknop == checknop2) {
                            $(this).removeAttr('data-rel');
                        }
                    });
                });

                var selectCallback = function(variant, selector) {
                    $('.iwishAddWrapper').attr('data-variant', variant.id);
                    if (variant) {
                        var form = jQuery('#' + selector.domIdPrefix).closest('form');
                        for (var i = 0, length = variant.options.length; i < length; i++) {
                            var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] + '"]');
                            if (radioButton.size()) {
                                radioButton.get(0).checked = true;
                            }
                        }
                    }
                    var addToCart = jQuery('.form-product .btn-cart'),
                        addToCartType2 = jQuery('.form-product .btn-cart2'),
                        boxinput = jQuery('.form-product .form_button_details .boxinput'),
                        form = jQuery('.form-product .form_button_details'),
                        productPrice = jQuery('.details-pro .special-price .price'),
                        qty = jQuery('.inventory_quantity .a-stock'),
                        sale = jQuery('.details-pro .old-price .product-price-old'),
                        comparePrice = jQuery('.details-pro .old-price .price'),
                        priceTopbar = jQuery('.product_info_price_value-final'),
                        title = jQuery('.product_info_price_title'),
                        hqty = jQuery('.hqty'),
                        box_buy = jQuery('.box_buy'),
                        button = jQuery('.btn_buyNow');


                    /* SKU */
                    if (variant && variant.sku != "" && variant.sku != null) {
                        $("#sku").html('<span class="fnew">Mã sản phẩm:</span>' + variant.sku);
                    } else {
                        $("#sku").html('<span class="fnew">Mã sản phẩm:</span>');
                    }
                    /* END SKU */



                    if (variant && variant.available) {

                        if (variant.inventory_management == "bizweb" || variant.inventory_management == "sapo") {
                            if (variant.inventory_quantity > 0) {
                                //qty.html('Còn hàng');
                                qty.html('');
                            } else if (variant.inventory_quantity == '') {
                                if (variant.inventory_policy == 'continue') {
                                    qty.html('<b>Tạm hết hàng, vẫn có thể đặt hàng</b>');
                                } else {
                                    qty.html('<b>Hết hàng</b>');
                                }
                            }
                        } else {
                            //qty.html('Còn hàng');
                            qty.html('');
                        }
                        button.addClass('add_to_cart').removeAttr('disabled').text('Mua hàng');
                        addToCart.attr('title', 'Mua hàng');
                        addToCart.removeAttr('disabled').find('span').text('Mua hàng');
                        addToCart.removeClass('hidden');
                        addToCartType2.addClass('hidden');
                        addToCartType2.removeClass('hidden');
                        boxinput.removeClass('hidden');
                        button.removeClass('hidden');
                        hqty.removeClass('hidden');
                        if (variant.price == 0) {
                            title.html('');
                            button.addClass('hidden');
                            priceTopbar.html('Liên hệ');
                            productPrice.html('Liên hệ');
                            box_buy.addClass('hidden');
                            comparePrice.hide();
                            form.addClass('hidden');
                            sale.removeClass('sale');
                            $('.taxable').addClass('hidden')
                            if (variant.inventory_management == "bizweb" || variant.inventory_management == "sapo") {
                                if (variant.inventory_quantity > 0) {
                                    //qty.html('Còn hàng');
                                    qty.html('');
                                } else if (variant.inventory_quantity == '') {
                                    if (variant.inventory_policy == 'continue') {
                                        qty.html('<b>Tạm hết hàng, vẫn có thể đặt hàng</b>');
                                    } else {
                                        qty.html('<b>Hết hàng</b>');
                                    }
                                    addToCartType2.attr('disabled', 'disabled').find('span').text('Hết hàng');
                                }
                            } else {
                                //qty.html('Còn hàng');
                                qty.html('');
                            }
                        } else {
                            title.html('Giá bán:');
                            box_buy.removeClass('hidden');
                            priceTopbar.html('<span>Giá bán: </span>' + Bizweb.formatMoney(variant.price, /*"{{amount_no_decimals_with_comma_separator}}₫"*/));
                            form.removeClass('hidden');
                            productPrice.html('<span>Giá bán: </span>' + Bizweb.formatMoney(variant.price, /*"{{amount_no_decimals_with_comma_separator}}₫"*/));
                            // Also update and show the product's compare price if necessary
                            if (variant.compare_at_price > variant.price) {
                                comparePrice.html(Bizweb.formatMoney(variant.compare_at_price, /*"{{amount_no_decimals_with_comma_separator}}₫"*/)).show();
                                sale.addClass('sale');
                                if (variant.inventory_management == "bizweb" || variant.inventory_management == "sapo") {
                                    if (variant.inventory_quantity > 0) {
                                        //qty.html('Còn hàng');
                                        qty.html('');
                                    } else if (variant.inventory_quantity == '') {
                                        if (variant.inventory_policy == 'continue') {
                                            qty.html('<b>Tạm hết hàng, vẫn có thể đặt hàng</b>');
                                        } else {
                                            qty.html('<b>Hết hàng</b>');
                                        }
                                    }
                                } else {
                                    //qty.html('Còn hàng');
                                    qty.html('');
                                }
                            } else {
                                comparePrice.hide();
                                sale.removeClass('sale');
                                if (variant.inventory_management == "bizweb" || variant.inventory_management == "sapo") {
                                    if (variant.inventory_quantity > 0) {
                                        qty.html('Còn hàng');
                                    } else if (variant.inventory_quantity == '') {
                                        qty.html('Còn hàng');
                                        addToCart.attr('title', 'Mua hàng');
                                        addToCart.removeAttr('disabled').find('span').text('Mua hàng');
                                    }
                                } else {
                                    qty.html('Còn hàng');
                                }
                            }
                        }

                    } else {
                        box_buy.removeClass('hidden');
                        button.removeClass('add_to_cart').text('Hết hàng').attr('disabled', 'disabled');
                        qty.html('<b>Hết hàng</b>');
                        addToCart.attr('title', 'Hết hàng');
                        addToCart.attr('disabled', 'disabled').find('span').text('Hết hàng');
                        addToCartType2.attr('disabled', 'disabled').find('span').text('Hết hàng');
                        boxinput.addClass('hidden');
                        hqty.addClass('hidden');
                        form.removeClass('hidden');
                        if (variant) {
                            if (variant.price != 0) {
                                title.html('Giá bán:');
                                priceTopbar.html('<span>Giá bán: </span>' + Bizweb.formatMoney(variant.price, /*"{{amount_no_decimals_with_comma_separator}}₫"*/));
                                form.removeClass('hidden');
                                addToCart.addClass('hidden');
                                addToCartType2.addClass('hidden');
                                boxinput.addClass('hidden');
                                productPrice.html('<span>Giá bán: </span>' + Bizweb.formatMoney(variant.price, /*"{{amount_no_decimals_with_comma_separator}}₫"*/));
                                // Also update and show the product's compare price if necessary
                                if (variant.compare_at_price > variant.price) {
                                    form.addClass('hidden');
                                    comparePrice.html(Bizweb.formatMoney(variant.compare_at_price, /*"{{amount_no_decimals_with_comma_separator}}₫"*/)).show();
                                    sale.addClass('sale');
                                    if (variant.inventory_management == "bizweb" || variant.inventory_management == "sapo") {
                                        if (variant.inventory_quantity > 0) {
                                            qty.html('Còn hàng');
                                        } else if (variant.inventory_quantity == '') {
                                            qty.html('<b>Hết hàng</b>');
                                            form.addClass('hidden');
                                            addToCart.removeClass('hidden');
                                            addToCartType2.removeClass('hidden');
                                            button.removeClass('hidden');
                                            boxinput.addClass('hidden');
                                        }
                                    } else {
                                        qty.html('Còn hàng');
                                    }
                                } else {
                                    comparePrice.hide();
                                    sale.removeClass('sale');
                                    if (variant.inventory_management == "bizweb" || variant.inventory_management == "sapo") {
                                        if (variant.inventory_quantity > 0) {
                                            qty.html('Còn hàng');
                                        } else if (variant.inventory_quantity == '') {
                                            qty.html('<b>Hết hàng</b>');
                                            form.removeClass('hidden');
                                            addToCart.removeClass('hidden');
                                            addToCartType2.removeClass('hidden');
                                            button.removeClass('hidden');
                                            boxinput.addClass('hidden');
                                            priceTopbar.html(Bizweb.formatMoney(variant.price, /*"{{amount_no_decimals_with_comma_separator}}₫"*/)).show();
                                        }
                                    } else {
                                        qty.html('<link itemprop="availability" href="http://schema.org/InStock" />Còn hàng');
                                    }
                                }
                            } else {
                                title.html('Liên hệ');
                                priceTopbar.hide();
                                productPrice.html('Liên hệ');
                                comparePrice.hide();
                                form.addClass('hidden');
                                sale.removeClass('sale');
                                addToCart.addClass('hidden');
                                addToCartType2.addClass('hidden');
                                button.addClass('hidden');
                                boxinput.addClass('hidden');
                                hqty.addClass('hidden');
                                $('.taxable').addClass('hidden')
                            }
                        } else {
                            title.html('Liên hệ');
                            priceTopbar.hide();
                            button.addClass('hidden');
                            productPrice.html('Liên hệ');
                            comparePrice.hide();
                            form.addClass('hidden');
                            sale.removeClass('sale');
                            addToCartType2.addClass('hidden');
                            addToCart.addClass('hidden');
                            boxinput.addClass('hidden');
                            hqty.addClass('hidden');
                            $('.taxable').addClass('hidden')
                        }

                    }

                    /*begin variant image*/
                    if (variant && variant.image) {
                        var originalImage = jQuery(".large-image img");
                        var newImage = variant.image;
                        var element = originalImage[0];
                        Bizweb.Image.switchImage(newImage, element, function(newImageSizedSrc, newImage, element) {
                            jQuery(element).parents('a').attr('href', newImageSizedSrc);
                            jQuery(element).attr('src', newImageSizedSrc);
                            jQuery('.pict').attr('src', newImageSizedSrc);
                            if (ww >= 1200) {
                                $('.zoomContainer').remove();

                                $("#img_01").data('zoom-image', newImageSizedSrc).elevateZoom({
                                    responsive: true,
                                    gallery: 'gallery_02',
                                    cursor: 'pointer',
                                    galleryActiveClass: "active"
                                });

                                $("#img_01").bind("click", function(e) {
                                    var ez = $('.img_02').data('elevateZoom');
                                });
                            }

                            var enableligtbox = false;
                            var lightbox = true;

                            if (lightbox == false) {
                                $(".large-image .checkurl").attr('href', 'javascript:;')
                            }
                            var apnop = $('.nop').contents();
                            jQuery('.offset_nop').html('<div class="item"><a class="check_data_img" href="https://bizweb.dktcdn.net/100/364/767/products/70589264-400878850631068-192375588097359872-n.jpg?v=1571390161147" data-image="https://bizweb.dktcdn.net/100/364/767/products/70589264-400878850631068-192375588097359872-n.jpg?v=1571390161147" data-rel="prettyPhoto[product-gallery]"><img  src="//bizweb.dktcdn.net/thumb/medium/100/364/767/products/70589264-400878850631068-192375588097359872-n.jpg?v=1571390161147" alt="Duối lim lá bầu"></a></div>');


                            jQuery('.offset_nop a.check_data_img').each(function() {
                                var checknop = $('a.large_image_url.checkurl').attr('href');
                                console.log(checknop);
                                var checknop2 = $(this).attr('href');
                                if (checknop2 == checknop) {
                                    jQuery(this).remove();
                                }
                            });
                            ! function(a) {
                                a(function() {
                                    a("a.zoom").prettyPhoto({
                                        hook: "data-rel",
                                        social_tools: !1,
                                        theme: "pp_woocommerce",
                                        horizontal_padding: 20,
                                        opacity: .8,
                                        deeplinking: !1
                                    }), a("a[data-rel^='prettyPhoto']").prettyPhoto({
                                        hook: "data-rel",
                                        social_tools: !1,
                                        theme: "pp_woocommerce",
                                        horizontal_padding: 20,
                                        opacity: .8,
                                        deeplinking: !1
                                    })
                                })
                            }(jQuery);
                        });

                        setTimeout(function() {
                            $('.checkurl').attr('href', $(this).attr('src'));
                            if (ww >= 1200) {
                                $('.zoomContainer').remove();
                                $("#img_01").elevateZoom({
                                    responsive: true,
                                    gallery: 'gallery_02',
                                    cursor: 'pointer',
                                    scrollZoom: false,
                                    galleryActiveClass: "active"
                                });

                            }
                        }, 200);
                    }

                };


                //Vấn đề về product JS từ new .... true:
                jQuery(function($) {

                    //new Bizweb.OptionSelectors('product-selectors', {
                    //	product: {"id":16065484,"name":"Duối lim lá bầu","alias":"duoi-lim-la-bau","vendor":"Harsfarm","type":"Cây để bàn","content":"<ul>\n<li>Cây có sức sống mạnh mẽ, tượng trưng cho sự bền bỉ, dẻo dai, và là món quà tặng ý nghĩa cho bạn bè, người thân.</li>\n<li>Cần lưu ý theo ý nghĩa về phong thủy, do xương rồng là loài có gai góc nên không nên để trong nhà; nên đặt cây ở lan can, hàng rào trước cửa sẽ mang ý nghĩa bảo vệ, ngăn cản tà khí.</li>\n<li>Lưu ý riêng trong quá trình chăm sóc cây: không nên tưới nước cho cây quá nhiều dễ gây thối rễ và chết cây; cây cần nhiều ánh sáng để sinh trưởng, do đó không nên để trong nhà quá lâu.</li></ul>\n<ol>\n<li>Thay đất định kỳ 6 - 8 tháng</li>\n<li>Sử dụng giá thể hoặc đát tro xốp</li></ol>","summary":null,"template_layout":null,"available":true,"tags":[],"price":160000.0000,"price_min":.0000,"price_max":280000.0000,"price_varies":true,"compare_at_price":185000.0000,"compare_at_price_min":185000.0000,"compare_at_price_max":185000.0000,"compare_at_price_varies":false,"variants":[{"id":28347305,"barcode":null,"sku":null,"title":"20 x 20cm","options":["20 x 20cm"],"option1":"20 x 20cm","option2":null,"option3":null,"available":true,"taxable":false,"price":160000.0000,"compare_at_price":185000.0000,"inventory_management":"","inventory_policy":"deny","inventory_quantity":1,"weight":0,"requires_shipping":true,"image":null},{"id":28406568,"barcode":null,"sku":null,"title":"35 x 35cm","options":["35 x 35cm"],"option1":"35 x 35cm","option2":null,"option3":null,"available":true,"taxable":false,"price":280000.0000,"compare_at_price":185000.0000,"inventory_management":"","inventory_policy":"deny","inventory_quantity":0,"weight":0,"requires_shipping":true,"image":null}],"featured_image":{"src":"https://bizweb.dktcdn.net/100/364/767/products/70589264-400878850631068-192375588097359872-n.jpg?v=1571390161147"},"images":[{"src":"https://bizweb.dktcdn.net/100/364/767/products/70589264-400878850631068-192375588097359872-n.jpg?v=1571390161147"}],"options":["Kích thước"],"created_on":"2019-10-18T16:16:00","modified_on":"2022-10-14T13:45:25","published_on":"2019-10-18T16:16:00"},
                    //	onVariantSelected: selectCallback,
                    //	enableHistoryState: true
                    //});



                    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.

                    $('.selector-wrapper:eq(0)').prepend('<label>Kích thước</label>');


                    // Hide selectors if we only have 1 variant and its title contains 'Default'.

                    $('.selector-wrapper').css({
                        'text-align': 'left',
                        'margin-bottom': '15px'
                    });
                });
                jQuery('.swatch :radio').change(function() {
                    var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
                    var optionValue = jQuery(this).val();
                    jQuery(this)
                        .closest('form')
                        .find('.single-option-selector')
                        .eq(optionIndex)
                        .val(optionValue)
                        .trigger('change');

                    var apnop = $('.nop').contents();
                    jQuery('.offset_nop').html('<div class="item"><a class="check_data_img" href="https://bizweb.dktcdn.net/100/364/767/products/70589264-400878850631068-192375588097359872-n.jpg?v=1571390161147" data-image="https://bizweb.dktcdn.net/100/364/767/products/70589264-400878850631068-192375588097359872-n.jpg?v=1571390161147" data-rel="prettyPhoto[product-gallery]"></a></div>');
                    jQuery('.offset_nop a.check_data_img').each(function() {
                        var checknop = $('a.large_image_url.checkurl').attr('href');
                        console.log(checknop);
                        var checknop2 = $(this).attr('href');
                        if (checknop2 == checknop) {
                            jQuery(this).remove();
                        }
                    });
                    ! function(a) {
                        a(function() {
                            a("a.zoom").prettyPhoto({
                                hook: "data-rel",
                                social_tools: !1,
                                theme: "pp_woocommerce",
                                horizontal_padding: 20,
                                opacity: .8,
                                deeplinking: !1
                            }), a("a[data-rel^='prettyPhoto']").prettyPhoto({
                                hook: "data-rel",
                                social_tools: !1,
                                theme: "pp_woocommerce",
                                horizontal_padding: 20,
                                opacity: .8,
                                deeplinking: !1
                            })
                        })
                    }(jQuery);
                });

                $(".dp-flex img").click(function(e) {
                    e.preventDefault();
                    var hr = $(this).attr('data-src');
                    $('#img_01').attr('src', hr);
                    $('.pict').attr('src', hr);
                    $('.large_image_url').attr('href', hr);
                    $('#img_01').attr('data-zoom-image', hr);
                });

                $(".not-dqtab").each(function(e) {
                    $(this).find('.tabs-title li:first-child').addClass('current');
                    $(this).find('.tab-content').first().addClass('current');

                    $(this).find('.tabs-title li').click(function() {
                        if ($(window).width() > 315) {
                            if ($(this).hasClass('current')) {
                                $(this).removeClass('current');
                            } else {
                                var tab_id = $(this).attr('data-tab');
                                var url = $(this).attr('data-url');
                                $(this).closest('.e-tabs').find('.tab-viewall').attr('href', url);

                                $(this).closest('.e-tabs').find('.tabs-title li').removeClass('current');
                                $(this).closest('.e-tabs').find('.tab-content').removeClass('current');

                                $(this).addClass('current');
                                $(this).closest('.e-tabs').find("#" + tab_id).addClass('current');
                            }
                        } else {
                            var tab_id = $(this).attr('data-tab');
                            var url = $(this).attr('data-url');
                            $(this).closest('.e-tabs').find('.tab-viewall').attr('href', url);

                            $(this).closest('.e-tabs').find('.tabs-title li').removeClass('current');
                            $(this).closest('.e-tabs').find('.tab-content').removeClass('current');

                            $(this).addClass('current');
                            $(this).closest('.e-tabs').find("#" + tab_id).addClass('current');

                        }

                    });
                });
                function scrollToxx() {
                    $('html, body').animate({ scrollTop: $('.product-tab.e-tabs').offset().top }, 'slow');
                    return false;
                }


                $(document).ready(function() {
                    if (ww >= 1200) {
                        $('.zoomContainer').remove();

                        $('#img_01').elevateZoom({
                            gallery: 'gallery_02',
                            zoomWindowWidth: 400,
                            zoomWindowHeight: 480,
                            zoomWindowOffetx: 10,
                            easing: true,
                            scrollZoom: false,
                            cursor: 'pointer',
                            galleryActiveClass: 'active',
                            imageCrossfade: true
                        });

                    }
                });

                $('.swatch-element label').click(function(e) {

                    $('.checkurl').attr('href', $(this).attr('src'));
                    if (ww >= 1200) {
                        setTimeout(function() {
                            $('.zoomContainer').remove();

                            $('#zoom_01').elevateZoom({
                                gallery: 'gallery_02',
                                zoomWindowWidth: 400,
                                zoomWindowHeight: 480,
                                zoomWindowOffetx: 10,
                                easing: true,
                                scrollZoom: false,
                                cursor: 'pointer',
                                galleryActiveClass: 'active',
                                imageCrossfade: true
                            });

                        }, 300);
                    }

                });
            </script>
        </div>
        }
    }
    
    <script src="//bizweb.dktcdn.net/100/364/767/themes/737174/assets/jquery.prettyphoto.min005e.js?1676649124511" type="text/javascript"></script>
    <script src="//bizweb.dktcdn.net/100/364/767/themes/737174/assets/jquery.prettyphoto.init.min367a.js?1676649124511" type="text/javascript"></script>
</body>
<!--JavaScript product detail -> xong rồi
    SỬa html thêm zoom và 2 ảnh nhỏ -xong
    Thêm service, item chèn , controller ....
-->
