@model AllLayout
@{
    ViewData["Title"] = "Header Admin Page";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}
<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="#" target="__blank">Profile</a>
        <a class="nav-link" href="#" target="__blank">Billing</a>
        <a class="nav-link" href="#" target="__blank">Security</a>
        <a class="nav-link" href="#"  target="__blank">Notifications</a>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Details</div>
                <div class="card-body">
                    @if (Model != null)
                    {
                        @foreach (var item in Model.header_ViewModels.header)
                        {
                            <div>
                                <!-- Form Group (username)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="Header_Id">Header Id</label>
                                    <input class="form-control" id="Header_Id" name="Discount_Id" type="tel" placeholder="Header_Id" value="@item.Header_Id" readonly>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="Header_Title">Header Title</label>
                                        <input class="form-control" id="Header_Title" name="Header_Title" type="text"  placeholder="Header_Title" value="@item.Header_Title" required>
                                    </div>
                                    <!-- Form Group (last name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="HeaderCondition">Header Condition</label>
                                        <input class="form-control" id="HeaderCondition" name="HeaderCondition" type="tel"  placeholder="HeaderCondition" value="@item.HeaderCondition" required>
                                    </div>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (organization name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="HeaderParent_Id">Header Parent Id</label>
                                        <input class="form-control" id="HeaderParent_Id" name="HeaderParent_Id" type="tel" placeholder="HeaderParent_Id" value="@item.HeaderParent_Id" required>
                                    </div>
                                    <!-- Form Group (location)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="HeaderLevels">Header Level</label>
                                        <input class="form-control" id="HeaderLevels" name="HeaderLevels" type="tel" placeholder="HeaderLevels" value="@item.HeaderLevels" required>
                                    </div>
                                </div>
                                @*<!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                            <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="name@example.com">
                        </div>
                        *@
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (phone number)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="HeaderType_Id">Header Type Id</label>
                                    <input class="form-control" id="HeaderType_Id" type="tel" placeholder="HeaderType_Id" value="@item.HeaderType_Id" required>
                                </div>
                                <!-- Form Group (birthday)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="HeaderAction">Header Action</label>
                                    <input class="form-control" id="HeaderAction" type="text" name="HeaderAction" placeholder="HeaderAction" value="@item.HeaderAction" required>
                                </div>
                            </div>
                               <!-- Save changes button-->
                            <input id="button_1" onclick="Editlog()" type="button" value="Save Edit" class="btn btn-primary rounded submit p-3 px-5"/>
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div> 

<script>
	function Editlog() {
        $.ajax({
            url: "HeaderAdmin/HeaderAdminEditFunction",
            dataType: "text",
            type: "POST",
            data: {
                Header_Id: $('#Header_Id').val(),
                Header_Title: $('#Header_Title').val(),
                HeaderCondition: $('#HeaderCondition').val(),
                HeaderParent_Id: $('#HeaderParent_Id').val(),
                HeaderLevels: $('#HeaderLevels').val(),
                HeaderType_Id: $('#HeaderType_Id').val(),
                HeaderAction: $('#HeaderAction').val(),
            },
            cache: !1,
            success:
            function(result) {
                var obj = JSON.parse(result);
                if (obj.success == true) {
                    alert(obj.message);
                    window.location = 'https://localhost:7037/headeradmin'; // Nếu đúng thì chạy tiếp sang trang Admin
                }
                else {
                    alert(obj.message);
                    window.location = 'https://localhost:7037/headeradminedit'; // nếu false thì về lại trang login
                }
            }
        });
    };
</script>


