@model AllLayout
@{
    ViewData["Title"] = "Header Admin Page";
    Layout = "~/Views/Shared/_LayoutAdminPage.cshtml";
}
<link href="/css/admintable2.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<div>
    <div class="card-body" style="overflow-x:auto">
        

        @*   <tbody> 
            @if (Model != null) 
            {
                // có thể dùng chung viewmodel, nhưng view sẽ hiện khác nhau tùy service trong controller.
                @foreach (var item in Model.header_ViewModels.header){
                    if(item != null){
                        <tr>
                        <td>@Html.DisplayFor(modelItem => item.Header_Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Header_Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.HeaderCondition)</td>
                        <td>@Html.DisplayFor(modelItem => item.HeaderType_Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.HeaderAction)</td> 
                        <td>@Html.DisplayFor(modelItem => item.Header_HTML)</td>
                        <td>@Html.DisplayFor(modelItem => item.Header_Order)</td>
                        <td>@Html.DisplayFor(modelItem => item.Header_Summary)</td>
                        <td>@Html.DisplayFor(modelItem => item.Header_Img)</td>
                        <td>@Html.ActionLink("Edit","headeradminedit",item)</td>
                        <td>@Html.ActionLink("Delete","headeradmindelete",item)</td>
                        <!--Tao controller hay service cho edit va delete-->
                    </tr>
                    }
                            
                }
            }
        </tbody>
        *@

        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2>Header <b>Table</b></h2>
                        </div>
                        <div class="col-sm-7">
                            <a href="/HeaderAdminCreate" class="btn btn-secondary"><i class="material-icons">&#xE147;</i> <span>Add New</span></a>
                        </div>
                    </div>
                </div>
                @* <table class="table table-striped table-hover" id="dataTable"> *@
                <!--Chỉ cần cài vendor css và js là có sẵn chia trang và định dạng table-->
                <table class="table table-bordered" id="dataTable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Header Id</th>
                            <th>Header Title</th>
                            <th>Header Condition</th>
                            <th>Header Type</th>
                            <th>Header Action</th>
                            <th>Header HTML</th>
                            <th>Header Order</th>
                            <th>Header Summary</th>
                            <th>Header Image</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            // có thể dùng chung viewmodel, nhưng view sẽ hiện khác nhau tùy service trong controller.
                            @foreach (var item in Model.header_ViewModels.header)
                            {
                                if (item != null)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Header_Id)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Header_Title)</td>
                                        <td>@Html.DisplayFor(modelItem => item.HeaderCondition)</td>
                                        <td>@Html.DisplayFor(modelItem => item.HeaderType_Id)</td>
                                        <td>@Html.DisplayFor(modelItem => item.HeaderAction)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Header_HTML)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Header_Order)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Header_Summary)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Header_Img)</td>
                                        <td title="Edit">
                                            @Html.ActionLink("Edit", "headeradminedit", item)
                                            <a href="#" class="btn btn-warning btn-circle">
                                                <i class="fas fa-exclamation-triangle"></i>
                                            </a>
                                        </td>
                                        <td title="Delete">
                                            @Html.ActionLink("Delete", "headeradmindelete", new {id = item.Header_Id , pagename = ViewData["Title"]})
                                            <a href="#" class="btn btn-danger btn-circle">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                        
                                        <!--Tao controller hay service cho edit va delete-->
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
